
.contact-cover{
    background-image: url("../images/contact/bg1-contact.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: start center;
    height: 50vh;
    padding-top: 30vh;
    text-align: center;
    width: 100%;
}

.contact-cover h1{ 
    font-size: 2rem;
    color: white;
    align-items: flex-start;
}

/* about cover end  */

.main-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}



/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto;
	width: 60%;
}

#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}

#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 10px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 1px 0 #0000002c;
}

#contact .icon {
	width: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact .contact-info h1 {
	font-size: 1.4rem;
	font-weight: 400;
	margin-bottom: 5px;
}

#contact .contact-info h2 {
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 500;
}

.information-section{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.contact-section{
    width: 85%;
    margin-left: 9vw ;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 700px;
}
.contact-section p{
    font-size: 1rem;
    margin-bottom: 20px;
    
}

input{
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-bottom: 1px solid white;
}

.message-area{
    grid-column: span 2;
    height: 125px;
    text-align: top;
    justify-self: end;
    align-items: top;
    margin-bottom: 20px;
}

textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    resize: none;
}

@media (min-width: 768px) {
    .inputs-filed{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    input{
        margin: 0px;
    }
    .message-area{
        grid-column: span 2;
    }

}

