.footer{
    text-align: center;
    padding: 4vh 0px;
    display: grid;
    gap :20px;
    text-align: center;
    background: #f2eff931;
    font-size: 0.2 rem ;
}

.footer p{
    font-size: 0.9rem;
    color: #666;
    margin: auto;
}


.footer-logos img{
    width: 30px !important;
}

