.footer{
    text-align: center;
    padding: 4vh 0px;
    display: grid;
    gap :20px;
    background: #f2eff931;
    font-size: 0.2 rem ;
}

.footer-logos a{
    font-size: 0.1rem;
    width: 40% !important;
}

