.shop-cover{
    background-image: url("../images/about/nav-bg1-about.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 50vh;
    padding-top: 30vh;
    text-align: left;
    width: 100%;
}

body{

    position: relative;
}
#search{
    margin-left: 0;
    border-style: none;
    border-radius: 7px;
    background-color: transparent;
    width: 100%;
    padding: 1em ;
    color: black ;
    font-weight: 500;
    /* padding-:30px; */
}


.search-filed{
    background-color: blue;
    background: rgba(237, 237, 237, 0.96);
    width: 75%;
    margin: auto ;
    height: 3rem;
    border-radius: 27px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.search-filed img{
    width: 20px;
    display: block;
    margin-left: 12px;
}

textarea:focus, input:focus,select:focus{
    outline: none;
}

select{
    background: #EDEDED;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    padding: 1em;
    width: 60%;
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 1vh;

}

.select-item{
  /* color: #ffffff; */
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  /* user-select: none; */
}


/* shop section  start  */


.shop-container{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 4vh;
    gap: 20px;
    width: 85%;
    margin: auto  auto;
    
}



.menu-cards-section{
    margin-top: 4vh;
    
}

@media (min-width:888px) {
    .shop-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .main-shop-section{
        grid-column: span 2;
    }
}
.card{
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding:  1em 0.5em;
    max-width: 466px;
}

.top-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}



.top-card p{
    font-size: 0.9rem;
    line-height: 1.4;
    margin-top: 10px;
}

.card-img{
    justify-self: center;
    align-self: center;
}
.card-content{
    grid-column: span 2;
}



.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin: 0px 20px; */
}

.card-bottom h5{
    padding-left: 10px;
}


.add-to-cart{
    background-color: #D9D9D9;
    padding: 5px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}


.menu-cards-section{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}

@media (max-width:1000px) {
    .menu-cards-section{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        justify-content : center;
    }
}


@media (max-width:444px) {
    .top-card p{
        font-size: 0.6rem;
        line-height: 1.3;
        margin-top: 5px;
    }
    .top-card h3{
        font-size: .9rem;
    }
    .card-img{
        justify-self: center;
        align-self: center;
        width: 80%;
    }
    .card-bottom h5{
        font-size: 1rem;
    }
}

.cart-title{
    margin-bottom: 20px;

}

.aside-section-card{
    /* margin: 1em; */
    max-width: 466px;
}

.cart-total{
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding:  1em 0.5em;
    margin:  1em 0.5em;
    /* width: 96%; */
    /* margin: auto; */
    text-align: center;
}

.item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 5px ;
}

.add-remove-item-icon{
    /* margin: 0.5em 1em ; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px ;
}

.item-info-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

}

.total-price{
    width: 90%;
    margin: auto;
    background-color: #616060;
    padding:1em  0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in;
    
    
}

.total-price:hover{
    background-color: #4e4c4c;
    
}

.total-price:active{
    transform: scale(0.90);
    
}
.total-price h4{
    color: white;
}

@media (max-width: 888px) {
    .cart-total{
        position: relative;
    }
    .total-price{
        position: absolute;
        top: 89vh;
        position: fixed;
        margin: auto;
        width: 80%;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(41,32,12,0.48);
        -moz-box-shadow: 0px 0px 5px 0px rgba(41,32,12,0.48);
        box-shadow: 0px 0px 5px 0px rgba(41, 32, 12, 0.297);
    }
}




/* place order card  */


.place-order-card-container{
    transition: 0.3s ease-in-out;
    
    position: absolute;
    top: 50vh; 
    display: none;
    left: 50vw;
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    padding: 1em;
    background-color: rgb(244, 239, 239);
    -webkit-box-shadow: 0px 0px 13px -4px rgba(47,23,221,0.65);
    -moz-box-shadow: 0px 0px 5px -4px rgba(47,23,221,0.65);
    box-shadow: 0px 0px 5px -4px rgba(47,23,221,0.65);
    width: 50%;
    margin:  auto ;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media (max-width:888px) {
    .place-order-card-container{
        width: 80%;
        
    }
}

.place-order-img{
    width: 50%;
    margin: auto;
}
.place-order-img img{
    width: 100%;
}

.place-order-btn{
    height: 35px;
    margin: 10px;
}

.place-order-btn button{
    width: 50%;
    height: 100%;
    font-size: 1.1rem;
    padding: 4px;
    background-color: #616060;
    border: none;
    color: whitesmoke;
    font-weight: bold;
    /* border-radius: 8px; */
    
}